#user-login {
	padding-top: 50px;
	padding-bottom: 50px;
}

#user-login .header {
	border-bottom: 1px solid #000000;
	padding: 9px 15px;
	background-image: url("/images/bootstrap/layout/topbar-noise.jpg");
}

#user-login form {
	background-color: #282828;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

#user-login .body {
	padding: 60px;
}

#user-login .help-inline {
    display: block;
    margin-bottom: 15px;
    margin-top: 2px;
    padding: 0;
}

#user-login .help-inline a {
    color: #8C8C8C;
    font-size: 12px;
    text-decoration: none;
}

#user-login .input-block-level {
    background-color: black;
    border: medium none black;
    border-radius: 0 0 0 0;
	font-size: 16px  !important;
	margin: 0;
    margin-bottom: 2px;
    min-height: 38px;
}

#user-login .header h3 {
	margin: 0;
	padding: 0;	
	display: inline-block;
    float: left;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin: 0;
    color: #8C8C8C;
}
